#login {
  width: 100%;
  height: 100vh;
  background: url("../img/puskes.png") center center;
  background-size: cover;
}

#login:before {
  content: "";
  background: rgba(18, 17, 17, 0.7);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

